.hero-icon-xs {
    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.hero-icon-sm {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.hero-icon-md {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.hero-icon-lg {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.hero-icon-xl {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}
